body {
    color: #006400;
    font-family: 'Times New Roman', Times, serif;
    font-size: azure;
    }

    h1 {
        color: #BA1E84; 
        font-family: sans-serif ;
        background-color: aquamarine;


    }

    


