*{
    box-sizing: border-box;
}      
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;

}
.header{
    padding:60px;
    text-align: center;
    background-color: aqua;
    color:azure;
}
.bar{
display: flex;
background-color: rgb(42,0,178);

}
.bar a{
          color:azure;
          padding:15px 25px;
          text-align: center;
          text-decoration: none;

}
.bar a:hover{
    background-color: rgb(108,63,255);

}

.row{
 display: flex;
 flex-wrap: wrap;
}
.column1{
    flex: 30%;
    background-color: rgb(108, 230, 255);
    padding: 20px;
}
.column2{
    flex: 60%;
    padding: 20px;
    background-color: rgb(108, 230, 255);
}
.column1-image{
    background-color: rgb(248,254,255);
    width: 100%;
    height: 200px;
    padding: 20px;
}
.column1-image2{
    height: 70px;
    margin-bottom: 5px;
}
.footer{
    padding:60px;
    text-align: center;
    background-color: purple;


}
@media screen and (max-width:768px){


    .header{
        background-color: pink;
    }
}
@media screen and (max-width:430px){

    .bar{
         flex-direction: column;


    }
    .header{

        padding: 30spx;
    }
}
